<div class="device-card" (click)="onCardClick()">
  <ion-card>
    <ion-card-header>
      <!-- Icono del dispositivo -->
      <ion-icon [name]="icon" class="device-icon"></ion-icon>
      <!-- Nombre del dispositivo -->
      <ion-card-title>{{ text }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Zona del dispositivo -->
      <div class="device-location">
        <span class="label">Ubicación: </span>
        <span class="value">{{ location }}</span>
      </div>
    </ion-card-content>
  </ion-card>
</div>
