<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="app-title">
      <ion-icon name="school-outline" class="icon"></ion-icon>
      FIUBA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="app-title">
        <ion-icon name="school-outline" class="icon"></ion-icon>
        FIUBA
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="content">

      <app-add-sensor></app-add-sensor>
  
      <div class="device-cards-grid">
        <app-device-card
          *ngFor="let device of devices" 
          [id]="device.device_id"        
          [icon]="'water'"               
          [text]="device.name"              
          [location]="device.location"   
          (cardClicked)="onDeviceCardClick(device.device_id)"> 
        </app-device-card>
      </div>
      
      
    </div>
  </ion-content>
  

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
      <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
      <ion-icon name="logo-youtube" class="social-icon"></ion-icon>
    </div>
    <div class="footer-text">
      Made by Juan David Barrero
    </div>
  </ion-toolbar>
</ion-footer>
